
@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Our Products Page</h1>
<h3>List of all the Wonderful Products we have in Store</h3>


<h4>@ViewData["ProductInfo"]</h4>
<div class ="container-fluid">Product List.....</div>
@*@Model.Product.Name*@

@*Displaying all the Products*@
<div class="container-fluid">
@foreach (var item in Model)
{
    @item.Name<br />
    @item.Price<br />
    <a asp-action="Edit" asp-route-id ="@item.Id">Edit</a><br />
    <a asp-action="Delete" asp-route-id ="@item.Id">Delete</a><br />
}
</div>
